<!DOCTYPE html>
<html lang="uk">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <section id="main" class="main-wrapper">
    <div class="container">
      <div id="content" class="row">
        <!-- books -->
      </div>

      <%- include('../partials/pagination-buttons') %>
    </div>
  </section>

  <%- include('../partials/footer') %>
  <script src="/home/home-script.js"></script>
</body>

</html>