<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Адмінка</title>
  <link rel="stylesheet" href="/admin-panel/admin-style.css" />
</head>

<body>
  <h1>F1N4Lity++</h1>

  <div class="container">
    <!-- Left part -->
    <div class="left-panel">
      <table id="books-table">
        <thead>
          <tr>
            <th>Назва книги</th>
            <th>Автори</th>
            <th>Рік</th>
            <th>Дії</th>
            <th>Кліків</th>
          </tr>
        </thead>
        <tbody id="books-body">
          <!-- Книги будуть завантажені через AJAX -->
        </tbody>
      </table>

      <%- include('../partials/pagination-buttons') %>
    </div>

    <!-- Right part -->
    <div class="right-panel">
      <form id="create-book-form" enctype="multipart/form-data">

        <h3>Додати нову книгу</h3>

        <div class="form-columns">
          <div class="form-left">
            <div class="form-group">
              <label for="title">Назва книги</label>
              <input type="text" id="title" name="title" required />
            </div>

            <div class="form-group">
              <label for="year">Рік видання</label>
              <input type="number" id="year" name="year" required />
            </div>

            <div class="form-group">
              <label>Завантажити зображення</label>
              <div class="file-upload">
                <label for="image" class="file-upload-btn">Вибрати файл</label>
                <input type="file" id="image" name="image" class="file-upload-input" accept="image/*" />
                <img id="imagePreview" class="image-preview" src="#" alt="Попередній перегляд" style="display: none;" />
              </div>
            </div>
          </div>

          <div class="form-right">
            <div class="form-group">
              <label for="author1">Автор 1</label>
              <input type="text" id="author1" name="authors[]" required />
            </div>

            <div class="form-group">
              <label for="author2">Автор 2</label>
              <input type="text" id="author2" name="authors[]" />
            </div>

            <div class="form-group">
              <label for="author3">Автор 3</label>
              <input type="text" id="author3" name="authors[]" />
            </div>

            <div class="form-group">
              <label for="description">Опис книги</label>
              <textarea id="description" name="description" rows="3"></textarea>
            </div>
          </div>
        </div>

        <div class="form-footer">
          <button type="submit" class="add-btn">ДОДАТИ КНИГУ</button>
          <p class="note">*залиште поля порожніми, якщо авторів менше 3</p>
        </div>

      </form>
    </div>
  </div>

  <script src="/admin-panel/admin-script.js"></script>
</body>

</html>